<div id="collection">
  {% paginate collection.products by settings.pagination_limit %}
  <!-- Begin collection info -->
  
  <!-- End collection info -->
  
  <!-- Begin no products -->
  {% if collection.products.size == 0 %}
  <div class="row">
    <div class="span12 expanded-message">
      <p>No products found</p>
    </div>
  </div>
  {% endif %}

  <script>console.log({{ linklists.sidebar-menu | json }})</script>
  <div class='layout-sidebar__side'>
    <ul class="hamburger-menu__list-outer">
    {% for link in linklists.sidebar-menu.links %}
      <li>
        <a href="{{ link.url }}" title="{{ link.title }}" class="hamburger-menu__link-outer {% if link.active %} current{% endif %}">
          {{ link.title }}
        </a>
        {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
            {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
            <ul class="hamburger-menu__list">
              {% for l in linklists[child_list_handle].links %}
              <li><a class="hamburger-menu__link-inner" href="{{ l.url }}">{{ l.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="layout-sidebar__main">
    <div class="layout-four">
      {% for product in collection.products limit: settings.pagination_limit %}
        {% include 'product-loop' with collection.handle %}
      {% endfor %}
    </div>
  </div>
  
  {% include 'pagination' %}

  {% endpaginate %}
  <!-- End no products -->
  
</div>